 .u-section-1 {
  background-image: none;
  min-height: 637px;
}

.u-section-1 .u-image-1 {
  width: 139px;
  height: 105px;
  margin: 5px auto 0 0;
}

.u-section-1 .u-list-1 {
  width: 214px;
  margin: -110px auto 0 calc(((100% - 1140px) / 2) + 3px);
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-image-2 {
  width: 139px;
  height: 105px;
  margin: 352px auto 0 calc(((100% - 1140px) / 2) + 416px);
}

.u-section-1 .u-image-3 {
  width: 109px;
  height: 102px;
  margin: -451px auto 0 calc(((100% - 1140px) / 2) + 325px);
}

.u-section-1 .u-image-4 {
  width: 109px;
  height: 102px;
  margin: 3px calc(((100% - 1140px) / 2) + 355px) 0 auto;
}

.u-section-1 .u-image-5 {
  width: 109px;
  height: 102px;
  margin: 247px 0 0;
}

.u-section-1 .u-image-6 {
  width: 570px;
  height: 570px;
  margin: -540px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-family: Kankin;
  background-image: none;
  font-weight: 700;
  margin: -537px auto 0 calc(((100% - 1140px) / 2) + 113px);
}

.u-section-1 .u-text-1 {
  font-family: Kankin;
  margin: -42px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-family: Kankin;
  background-image: none;
  font-weight: 700;
  margin: 47px auto 0 calc(((100% - 1140px) / 2) + 113px);
}

.u-section-1 .u-text-2 {
  font-family: Kankin;
  margin: -43px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-family: Kankin;
  background-image: none;
  font-weight: 700;
  margin: 49px auto 0 calc(((100% - 1140px) / 2) + 114px);
}

.u-section-1 .u-text-3 {
  font-family: Kankin;
  margin: -44px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-family: Kankin;
  background-image: none;
  font-weight: 700;
  margin: 51px auto 0 calc(((100% - 1140px) / 2) + 114px);
}

.u-section-1 .u-text-4 {
  font-family: Kankin;
  margin: -42px calc(((100% - 1140px) / 2) + 400px) 0 calc(((100% - 1140px) / 2) + 417px);
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-family: Kankin;
  background-image: none;
  font-weight: 700;
  margin: 57px auto 0 calc(((100% - 1140px) / 2) + 113px);
}

.u-section-1 .u-text-5 {
  font-family: Kankin;
  margin: -49px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: solid;
  font-family: Kankin;
  margin: -394px calc(((100% - 1140px) / 2) + 117px) 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: solid;
  font-family: Kankin;
  margin: 63px calc(((100% - 1140px) / 2) + 117px) 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  border-style: solid;
  font-family: Kankin;
  margin: 69px calc(((100% - 1140px) / 2) + 117px) 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  border-style: solid;
  font-family: Kankin;
  margin: 65px calc(((100% - 1140px) / 2) + 117px) 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  font-family: Kankin;
  border-style: solid;
  background-image: none;
  margin: 68px calc(((100% - 1140px) / 2) + 117px) 0 auto;
  padding: 0;
}

.u-section-1 .u-image-7 {
  width: 109px;
  height: 102px;
  margin: -431px calc(((100% - 1140px) / 2) + -54px) 0 auto;
}

.u-section-1 .u-image-8 {
  width: 109px;
  height: 102px;
  margin: 328px calc(((100% - 1140px) / 2) + 307px) 0 auto;
}

.u-section-1 .u-image-9 {
  width: 139px;
  height: 105px;
  margin: -380px calc(((100% - 1140px) / 2) + 128px) 0 auto;
}

.u-section-1 .u-image-10 {
  width: 139px;
  height: 105px;
  margin: 103px calc(((100% - 1140px) / 2) + -139px) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 806px;
  }

  .u-section-1 .u-image-1 {
    height: 104px;
    margin-top: -111px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 8px;
    margin-left: calc(((100% - 1140px) / 2) + 203px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-image-2 {
    height: 104px;
    margin-top: 235px;
    margin-left: calc(((100% - 940px) / 2) + 416px);
  }

  .u-section-1 .u-image-3 {
    margin-top: -450px;
    margin-left: calc(((100% - 940px) / 2) + 325px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 2px;
    margin-right: calc(((100% - 940px) / 2) + 355px);
  }

  .u-section-1 .u-image-6 {
    margin-top: -748px;
    margin-left: calc(((100% - 1140px) / 2) + -24px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -214px;
    margin-left: calc(((100% - 1140px) / 2) + 257px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 587px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: 25px;
    margin-left: calc(((100% - 1140px) / 2) + 257px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -90px;
    margin-left: calc(((100% - 1140px) / 2) + 587px);
  }

  .u-section-1 .u-btn-3 {
    margin-top: 27px;
    margin-left: calc(((100% - 1140px) / 2) + 257px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -97px;
    margin-left: calc(((100% - 1140px) / 2) + 587px);
  }

  .u-section-1 .u-btn-4 {
    margin-top: 27px;
    margin-left: calc(((100% - 1140px) / 2) + 257px);
  }

  .u-section-1 .u-text-4 {
    margin-top: -130px;
    margin-right: 437px;
    margin-left: calc(((100% - 1140px) / 2) + 587px);
  }

  .u-section-1 .u-btn-5 {
    margin-top: 27px;
    margin-left: calc(((100% - 1140px) / 2) + 257px);
  }

  .u-section-1 .u-text-5 {
    margin-top: -150px;
    margin-left: calc(((100% - 1140px) / 2) + 587px);
  }

  .u-section-1 .u-btn-6 {
    margin-top: -21px;
    margin-right: calc(((100% - 1140px) / 2) + 292px);
  }

  .u-section-1 .u-btn-7 {
    margin-top: -8px;
    margin-right: calc(((100% - 1140px) / 2) + 292px);
  }

  .u-section-1 .u-btn-8 {
    margin-top: -10px;
    margin-right: calc(((100% - 1140px) / 2) + 292px);
  }

  .u-section-1 .u-btn-9 {
    margin-top: -43px;
    margin-right: calc(((100% - 1140px) / 2) + 292px);
  }

  .u-section-1 .u-btn-10 {
    margin-top: 45px;
    margin-right: calc(((100% - 1140px) / 2) + 292px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 940px) / 2) + -54px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 940px) / 2) + 307px);
  }

  .u-section-1 .u-image-9 {
    height: 104px;
    margin-right: calc(((100% - 940px) / 2) + 128px);
  }

  .u-section-1 .u-image-10 {
    height: 104px;
    margin-right: calc(((100% - 940px) / 2) + -139px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 573px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -676px;
    margin-left: calc(((100% - 1140px) / 2) + 423px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-2 {
    margin-top: 919px;
    margin-left: calc(((100% - 720px) / 2) + 416px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 325px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + 355px);
  }

  .u-section-1 .u-image-6 {
    margin-top: -1252px;
    margin-left: calc(((100% - 1140px) / 2) + 86px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -394px;
    margin-left: calc(((100% - 1140px) / 2) + 472px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 725px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 1140px) / 2) + 472px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 725px);
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 1140px) / 2) + 472px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 725px);
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 1140px) / 2) + 472px);
  }

  .u-section-1 .u-text-4 {
    margin-right: 335px;
    margin-left: calc(((100% - 1140px) / 2) + 725px);
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 1140px) / 2) + 472px);
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 1140px) / 2) + 725px);
  }

  .u-section-1 .u-btn-6 {
    margin-top: -165px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 406px);
  }

  .u-section-1 .u-btn-7 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 406px);
  }

  .u-section-1 .u-btn-8 {
    margin-top: 62px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 406px);
  }

  .u-section-1 .u-btn-9 {
    margin-top: -7px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 406px);
  }

  .u-section-1 .u-btn-10 {
    margin-top: 81px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 406px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 720px) / 2) + -54px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 720px) / 2) + 307px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 720px) / 2) + 128px);
  }

  .u-section-1 .u-image-10 {
    margin-right: calc(((100% - 720px) / 2) + -139px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1026px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 861px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -964px;
    margin-right: calc(((100% - 1140px) / 2) + 323px);
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 1207px;
    margin-left: calc(((100% - 540px) / 2) + 401px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 325px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + 355px);
  }

  .u-section-1 .u-image-6 {
    margin-top: -1180px;
    margin-left: calc(((100% - 1140px) / 2) + 176px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -754px;
    margin-right: calc(((100% - 1140px) / 2) + 379px);
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 790px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 1140px) / 2) + 379px);
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 790px);
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 1140px) / 2) + 379px);
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 790px);
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 1140px) / 2) + 379px);
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 251px;
    margin-left: calc(((100% - 1140px) / 2) + 783px);
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 1140px) / 2) + 379px);
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 1140px) / 2) + 790px);
  }

  .u-section-1 .u-btn-6 {
    margin-top: -453px;
    margin-left: calc(((100% - 1140px) / 2) + 323px);
  }

  .u-section-1 .u-btn-7 {
    margin-left: calc(((100% - 1140px) / 2) + 323px);
  }

  .u-section-1 .u-btn-8 {
    margin-top: 206px;
    margin-left: calc(((100% - 1140px) / 2) + 323px);
  }

  .u-section-1 .u-btn-9 {
    margin-top: 65px;
    margin-left: calc(((100% - 1140px) / 2) + 323px);
  }

  .u-section-1 .u-btn-10 {
    margin-top: 153px;
    margin-left: calc(((100% - 1140px) / 2) + 323px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 540px) / 2) + -54px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 540px) / 2) + 307px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 540px) / 2) + 128px);
  }

  .u-section-1 .u-image-10 {
    margin-right: calc(((100% - 540px) / 2) + -139px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 710px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 545px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -648px;
    margin-right: calc(((100% - 1140px) / 2) + 123px);
  }

  .u-section-1 .u-image-2 {
    margin-top: 891px;
    margin-left: calc(((100% - 340px) / 2) + 201px);
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + 231px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 340px) / 2) + 231px);
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 340px;
    margin-top: -1044px;
    margin-right: calc(((100% - 1140px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -344px;
    margin-right: calc(((100% - 1140px) / 2) + 179px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 919px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 1140px) / 2) + 179px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 915px);
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 1140px) / 2) + 179px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 915px);
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 1140px) / 2) + 179px);
  }

  .u-section-1 .u-text-4 {
    margin-right: 158px;
    margin-left: calc(((100% - 1140px) / 2) + 915px);
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 1140px) / 2) + 179px);
  }

  .u-section-1 .u-text-5 {
    margin-left: calc(((100% - 1140px) / 2) + 915px);
  }

  .u-section-1 .u-btn-6 {
    margin-top: -345px;
    margin-left: calc(((100% - 1140px) / 2) + 123px);
  }

  .u-section-1 .u-btn-7 {
    margin-top: 12px;
    margin-left: calc(((100% - 1140px) / 2) + 123px);
  }

  .u-section-1 .u-btn-8 {
    margin-top: 122px;
    margin-left: calc(((100% - 1140px) / 2) + 123px);
  }

  .u-section-1 .u-btn-9 {
    margin-top: 33px;
    margin-left: calc(((100% - 1140px) / 2) + 123px);
  }

  .u-section-1 .u-btn-10 {
    margin-top: 121px;
    margin-left: calc(((100% - 1140px) / 2) + 123px);
  }

  .u-section-1 .u-image-7 {
    margin-right: calc(((100% - 340px) / 2) + -54px);
  }

  .u-section-1 .u-image-8 {
    margin-right: calc(((100% - 340px) / 2) + 231px);
  }

  .u-section-1 .u-image-9 {
    margin-right: calc(((100% - 340px) / 2) + 128px);
  }

  .u-section-1 .u-image-10 {
    margin-right: calc(((100% - 340px) / 2) + -139px);
  }
}@font-face {
  font-family: 'Kankin';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Kankin.otf);
}@font-face {
  font-family: 'Rich-Eatin';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Rich-Eatin.otf);
}